
.container-fluid{


}
.login-form{
    display: flex;
    flex-direction: column;
}
.login-header{
    text-align: center;
}
.form-item{
    margin: 5px;

}
.row{



}

.card{
    display: flex;
}
label{
    display: block;
}


